{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "تغيير كلمة المرور" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "تغيير كلمة المرور" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-4">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary w-100" name="action">
                        {% trans "تغيير كلمة المرور" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
