{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
    /* footer */
    #footer-main-i {
        background: #444444;
        color: rgb(255, 255, 255);
        font-size: 0.8rem;
    
        font-family: 'Lato', sans-serif;
      
    }

    #footer-main a {
        font-size: 14px;
        display: block;
        margin: 0.3rem;
        color: grey;
    }

    #footer-main a:hover {
        font-weight: bold;
        color: white;
    }

    #footer-main h6 a {
        color: white;
    }

    #footer-main hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid white;
    }

    #footer-main img {
        margin-left: 0.6rem;
    }
</style>

<!-- <footer id="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <br>

                <h6 class="mt-3"><a href="">البحث عن متجر</a></h6>
                <h6 class="mt-3"><a href="">التسجيل للحصول على بريد إلكتروني</a></h6>
                <h6 class="mt-3"><a href="">كن عضواً</a></h6>

                <h6 class="mt-3"><a href="/admin/">تسجيل دخول المشرف</a></h6>

            </div>
            <div class="col-sm-3">
                <h6 class="mt-3"><a href="">المساعدة</a></h6>
                <a href="">حالة الطلب</a>
                <a href="">الشحن والتوصيل</a>
                <a href="">الإرجاع</a>
                <a href="">خيارات الدفع</a>
                <a href="">اتصل بنا</a>
            </div>
            <div class="col-sm-3">
                <h6 class="mt-3"><a href="">عن جانغو</a></h6>
                <a href="">الأخبار</a>
                <a href="">الوظائف</a>
                <a href="">المستثمرين</a>
                <a href="">الاستدامة</a>
            </div>
            <div class="col-sm-3">
                <a href="">صوت العملاء</a>
                <a href="">الاتصالات حسب الفروع</a>
                <a href="">الإبلاغ عن الأخلاقيات</a>
                <a href="">الوظائف</a>

                <br><br>
                <a href="">استفسار تجاري</a>
                <br>
                <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> متجر أبل</a>
                <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> متجر جوجل بلاي</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
            <hr>
            <a href="https://github.com/zinmyoswe" style="margin-right: 1rem">سياسة الخصوصية | @zinmyoswe 2019-2020</a>
        </div>
    </div>
</footer> -->
<footer id="footer-main-i" style="background-color: #fff;border-top: 2px solid #1667b2;">
    <div class="container">

      
      <div class="row">
           <div class="col-sm-12 pt-5 text-center">
               <strong style="color: black;">
                وسائل الدفع
               </strong>
               <br>
              <img style=" max-width: 290px;background: #fff;padding: 5px;margin: 8px 0px 5px 0px;border-radius: 3px;" class="img-responsive-" src="{% static 'images/payment.png'%}">
           </div>
       </div>
      <hr>
      <div class="row">
           <div class="col-sm-6">
               <p class="CopyRightBST" style="color: black;">سكربت  خدمات مصغرة  ©  2020 <br>  برمجة وتصميم  <a href="https://bestsolutionsit.com/" target="_blanck">   Best Solutions </a> </p>
           </div>
           
           <div class="col-sm-6 text-center" >
               
            <div class="topbar"  style="background-color: #ffffff !important;">
                <div class="topbar-child1"  >
                    <a href="#" style="background-color: #00c581 !important;color: #ffffff !important;" class="topbar-social-item fab fa-facebook"></a>
                    <a href="#" style="background-color: #00c581 !important;color: #ffffff !important;" class="topbar-social-item fab fa-instagram"></a>
                    <a href="#" style="background-color: #00c581 !important;color: #ffffff !important;" class="topbar-social-item fab fa-pinterest-p"></a>
                    <a href="#" style="background-color: #00c581 !important;color: #ffffff !important;" class="topbar-social-item fab fa-twitter"></a>
                    <a href="#" style="background-color: #00c581 !important;color: #ffffff !important;" class="topbar-social-item fab fa-youtube"></a>
                </div>
            </div>
           </div>
           
      </div>
      
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->
